* {
  margin: 0; padding: 0;
}
ul { 
  list-style-type: none;
}
.section {
  text-align:center;
  font-size: 3em;
}
.section > h1 {
  position: absolute;
  left: 20px; top: 20px;
}
.section ul li{
  display: inline-block;
}

#menu {
  position: fixed;
  z-index: 99;
}